body {
    font-family: 'Courier New', Courier, monospace;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.countdown-container {
    text-align: center;
    color: black;
    font-weight: 400;
}

#countdown {
    font-size: 35px;

    color: black;
    font-weight: 400;
}